<div class="box">
  <h1>Upcoming event: <%=Event.find(1).title-%></h1>
  <p><%=Event.find(1).agenda-%></p>
  
  <a href="#">More info</a> | <a href="#">Y! Upcoming</a> | <a href="#">Venue</a> 
</div>
