<div class="box">
<% for event in @upcoming_events -%>
  <h3>Upcoming event: <%= link_to event.title, :controller => 'events', :action => 'show', :id => event-%></h3>
  <p><%=event.agenda-%></p>
  <%= link_to "More info", :controller => 'events', :action => 'show', :id => event -%> | <a href="#">Y! Upcoming</a> | <a href="#">Venue</a> 
<% end -%>
</div>
