<%content_for("left") do-%>
<h1>New event</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div class="footnote">Action</div
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
<%end-%>
<%content_for("right") do-%>
<%end-%>