<% for column in Venue.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @venue.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @venue %> |
<%= link_to 'Back', :action => 'list' %>
