<%= error_messages_for 'minute' %>

<!--[form:minute]-->
<p><label for="minute_body">Body</label><br/>
<%= text_area 'minute', 'body'  %></p>

<p><label for="minute_published">Published</label><br/>
<%= text_field 'minute', 'published'  %></p>

<p><label for="minute_created_at">Created at</label><br/>
<%= datetime_select 'minute', 'created_at'  %></p>
<!--[eoform:minute]-->

