<%content_for("left") do-%>
<% for column in Minute.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @minute.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @minute %> |
<%= link_to 'Back', :action => 'list' %>
<%end-%>
<%content_for("right") do-%>
<%end-%>