<div class="sidebar">
  <h3>About</h3>
  <p>
The GNU/Linux Users Group, Mumbai, India, also called ILUG-Bom, is an informal mailing list of over 1000 members from all over India, but mostly from Mumbai.<br/><br/>

We discuss issues related to promoting, supporting the GNU/Linux OS, various distributions, sharing free/open source resources, have informal and formal meetings/seminars, organise workshops now and then, etc.
  </p>
</div>
