<div class="sidebar">
  <h3>Navigation</h3>
  <div class="box">
    <ul>
      <li><%= link_to "Articles", :controller => 'articles'-%></li>
      <li><%= link_to "Events", :controller => 'events'-%></li>
      <li><%= link_to "Minutes", :controller => 'minutes'-%></li>
      <li><%= link_to "Venues", :controller => 'venues'-%></li>
      <li><%= link_to "People", :controller => 'people'-%></li>
      <li><%= link_to "Pages", :controller => 'pages'-%></li>
    </ul>
  </div>
</div>
