<div id="footer">Copyright &copy; 2000-2008 <a href="http://www.ilug-bom.org.in">Indian GNU/Linux Users
  Group of Mumbai</a>. <br/>Verbatim copying and redistribution of content is
  permitted, provided this notice is preserved.<br />
</div>
</div>
</body>
</html>
  