<div id="nav"><a href="index.html">Home</a> &nbsp;|&nbsp; <a
  href="#">Pets Community</a> &nbsp;|&nbsp; <a href="#">About us</a>
  &nbsp;|&nbsp; <a href="#">Pet Gallery</a> &nbsp;|&nbsp; <a
  href="#">Latest News</a> &nbsp;|&nbsp; <a href="#">Contact us</a>
</div>
<div id="bg"></div>
